<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.xash">
    <application android:label="Xash3D">
        <activity android:name=".MainActivity"
            android:label="Xash3D"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
